extends layout

block content
  h1= title
  p 
    | Welcome to the #[em Open-Source Compendium], an online resource for information 
    | on publicly accessible databases that will be useful for open-source
    | investigations.
  
  ul 
    li #[strong Sources:] !{source_count} 
    li #[strong Jurisdictions:] !{jurisdiction_count} 
    li #[strong Types of Sources:] !{category_count}

  if user
    if user.creatorPrivilege
      p(style='text-align: center') Welcome Back !{user.firstName}. Why not add some more sources to help your fellow investigators!
    else
      p(style='text-align: center') Welcome Back !{user.firstName}. Request creator privileges from fake@email.com to begin adding new sources and jurisdictions!
  else 
    p(style='text-align: center') Log in or Sign up to see and create user comments! 
