extends layout

block content  

    h1 #{jurisdiction.name} 
    
    div(style='margin-left:20px;margin-top:20px') 

        h4 Sources 

        dl 
            each source in jurisdiction_sources 
                dt 
                    a(href=source.url) #{source.name} 
                dd #{source.description} 
                 
            else 
                p This jurisdiction has no sources.

    div(style='margin-left:20px;margin-top:20px') 

        h4 Sub-Jurisdictions 

        dl 
            each subjurisdiction in subjurisdictions
                dt 
                    a(href=subjurisdiction.url) #{subjurisdiction.name}
                 
            else 
                p This jurisdiction has no sub-jurisdictions.
    
    hr
    p
        a(href=jurisdiction.url+'/delete') Delete jurisdiction

