extends layout 

block content 
    h1 #{source.name} 

    p #[strong Jurisdiction:] 
        a(href=source.jurisdiction.url) #{source.jurisdiction.name} 
    p #[strong Description:] #{source.description} 
    p #[strong Comments:] #{source.comments}
    p #[strong Categories:] 
        each val, index in source.category
            a(href=val.url) #{val.name} 
            if index < source.category.length - 1
                |, 
    a(href=source.externalUrl) Link to source
    hr
    p
        a(href=source.url+"/delete") Delete source 
    p 
        a(href=source.url+"/update") Update source